/*
 * Every container tag lives here so there is exactly one file to edit when a
 * pull fails. Tags are pinned deliberately - "latest" is not reproducible.
 *
 * If a pull 404s, find the current tag at:
 *   https://quay.io/repository/biocontainers/<tool>?tab=tags
 * then change it here and nowhere else.
 */

params {
    container_seqkit        = 'quay.io/biocontainers/seqkit:2.8.2--h9ee0642_0'
    container_nanoq         = 'quay.io/biocontainers/nanoq:0.10.0--h031d066_2'
    container_nanoplot      = 'quay.io/biocontainers/nanoplot:1.42.0--pyhdfd78af_0'
    container_kraken2       = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0'
    container_bracken       = 'quay.io/biocontainers/bracken:2.9--py39hc16433a_0'
    container_flye          = 'quay.io/biocontainers/flye:2.9.5--py310h275bdba_0'
    container_amrfinder     = 'quay.io/biocontainers/ncbi-amrfinderplus:4.0.19--hf69ffd2_0'
    container_abricate      = 'quay.io/biocontainers/abricate:1.0.1--ha8f3691_1'
    container_genomad       = 'quay.io/biocontainers/genomad:1.8.0--pyhdfd78af_0'
    container_multiqc       = 'quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0'
    container_pandas        = 'quay.io/biocontainers/pandas:2.2.1'
}
